
.img_center {
  padding: 0;
  height: 55px;
  width: 63px;
  text-align: center;
  background: url(../pages/img/footer_logo.gif) no-repeat;
  background-size: 63px;
}
.centering {
  margin: 0 auto;
  height: 55px;
  width: 63px;
}
/* ===== フッタ ===== */
div#footer {
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}

div#footerArea{
  padding:0;
  margin:0 auto;
  height: 102px;

}

/*フッターロゴ*/
div.footer_logo {
  clear: both;
  float: left;
  margin: 0;
  padding: 15px 0 0 0;
  border: none;
  width: 258px;
}

/*フッターコピー*/
div.footerCopy {
  clear: both;
  margin: 0 auto;
  padding: 15px 0;
  width: 980px;
  text-align: center;
  color:#9FAAAD;
  font-size: 10px;
}

/*フッターリンク*/
div.fotter_link {
  margin: 0 auto;
  padding: 20px 15px 30px 80px;
  width: 250px;
  text-align: center;
}

div.fotter_menu {
  float: left;
  margin: 0 auto;
  padding: 10px 15px 0 0;
  text-align: left;
  font-size: 85%;
}

div.fotter_menu a{
  text-decoration: none;
  color: #2BA6CB;
  font-family: mplus-1p-regular;
}

div.fotter_menu a:hover{
  text-decoration: underline;
}