/*header
---------------------------------------------------------------------------*/
div#header {
	height: 70px;
	width: 890px;
	margin: 0 auto;
}
div#header div#title {
	padding: 26px 15px;
	color: #96989A;
	font-size: 14px;
	font-weight: bold;
	float: left;
}
div#header div.member {
	width: 300px;
	height: 32px;
	margin: 22px 0 16px 0;
	background: #FFF;
	border-radius: 3px;
	float: left;
}
div#header div.member div.name {
	font-size: 14px;
	margin: 0 10px;
	line-height: 32px;
	float: left;
}
div#header div.member div.name_mypage {
	font-size: 12px;
	position: relative;
	top: 8px;
	float: left;
}
div#header div#setting_icon,
div#header div#question_btn {
	padding: 10px 10px 0 0;
	float: right;
}
div#header div#info_icon {
	padding-top: 10px;
	float: right;
	position: relative;
}
div#header div#question_btn {
	padding: 20px 10px 0 0;
}
div#header div#question_btn {
	top: 17px;
	right: 80px;
}
div#header div.info_number {
	width: 20px;
	height: 20px;
	line-height: 20px;
	top: 48px;
	right: 0px;
	position: absolute;
	background: #D23F53;
	border-radius: 3px;
	color: #FFF;
}