/*mypage
---------------------------------------------------------------------------*/
div#contents div.box {
	background: #FFFFFF;
	width: 860px;
	height: auto;
	margin: 10px 15px;
	text-align: left;
	border-radius: 3px;
	box-shadow: 0px 3px 1px 0px #D5D6D8;
	position: relative;
	float: left;
}
div#contents div.box div.box_top {
	width: 860px;
	height: 55px;
	line-height: 38px;
	background: #3DB399;
	border-radius: 3px 3px 0 0;
	float: left;
}
div#contents div.box div.box_top ul.box_tab li {
	width: 120px;
	height: 31px;
	line-height: 31px;
	margin: 12px 0 12px 12px;
	text-align: center;
	float: left;
}
div#contents div.box div.box_top ul.box_tab li:hover {
	width: 118px;
	height: 29px;
	border: solid 1px rgba(217,221,223,1.00);
	border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: relative;
	top: -1px;
	background: rgba(231,232,233,1.00);	
}
div#contents div.box div.box_top ul.box_tab li a:hover {
	display: block;
	width: 118px;
	height: 31px;
	opacity: 1.0;
	-moz-opacity: 1.0;
	filter:alpha(opacity=100);
	cursor: pointer;
}
div#contents div.box ul.qa_list li {
	width: 860px;
	min-height: 120px;
	border-top: 1px solid #E8EAE9;
	background: #FFFFFF;
	position: relative;
	float: left;
}
div#contents div.box ul.qa_list li div {
	float: left;
}
div#contents div.box ul.qa_list li div.left {
	width: 120px;
}
div#contents div.box ul.qa_list li div.left img {
	width: 76px;
	height: 76px;
	margin: 22px 22px 0px 22px;
}
div#contents div.box ul.qa_list li div.center div.title {
	width: 500px;
	font-size: 16px;
}
div#contents div.box ul.qa_list li div.center div.title a {
	color: #74ABD0;
	border-bottom: solid 1px;
}
div#contents div.box ul.qa_list li div.center div.time {
	width: 640px;
	margin: 5px 0;
	margin-left: 5px;
	color: #858A8C;
	font-size: 12px;
}
div#contents div.box ul.qa_list li div.center div.genre {
	width: 640px;
	margin: 10px 0;
	font-size: 12px;
}
div#contents div.box ul.qa_list li div.center div.genre span.genre1 {
	padding: 8px 15px;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: rgba(231,232,233,1.00);
}
div#contents div.box ul.qa_list li div.center div.genre span.genre2 {
	margin-left: 10px;
	color: #DA6F81;
}
div#contents div.box ul.qa_list li div.right {
	width: 100px;
	text-align: center;
	position: absolute;
	top: 50%; 
	right: 0px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
div#contents div.box ul.qa_list li div.right.check div.over,
div#contents div.box ul.qa_list li div.right.check div.under {
	color: #3FB496;
}
div#contents div.box ul.qa_list li div.right div.over,
div#contents div.box ul.qa_list li div.right div.under {
	width: 100px;
	color: #6C7C89;
	font-size: 24px;
	font-weight: bold;
}
div#contents div.box ul.qa_list li div.right div.under {
	font-size: 12px;
}
div#contents div.box ul.qa_list li div.right img {
	margin-top: 10px;
}

div#contents div.box div.box_bottom {
	height: 100px;
	width: 860px;
	border-top: 1px solid #E8EAE9;
	background: #FFFFFF;
	border-radius: 0 0 3px 3px;
	float: left;
}


/*question
---------------------------------------------------------------------------*/

div#contents div.box div.box_top2 {
	width: 840px;
	height: 55px;
	line-height: 55px;
	padding-left: 20px;
	color: #CE4057;
	font-size: 16px;
	font-weight: bold;
	border-top: 1px solid #E8EAE9;
	border-bottom: 1px solid #E8EAE9;
	background: #FFF;
	float: left;
}
div#contents div.box div.question_form {
	background: rgba(249,250,250,1.00);
}
div#contents div.box div.question_form div.right {
	width: 840px;
	height: 50px;
	padding-right: 20px;
	background: rgba(249,250,250,1.00);
	float: right;
}
div#contents div.box div.question_form span.right {
	display: block;
	width: 155px;
	height: 35px;
	line-height: 53px;
	color: #74ABD0;
	font-size: 14px;
	border-bottom: solid 1px;
	float: right;
}
div#contents div.box div.question_form span.right:hover {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
div#contents div.box div.question_form div.question_contents {
	background: #FFF;
	padding: 20px;
}
div#contents div.box div.question_form div.gray {
	padding: 0 20px 20px 20px;
	border-top: 1px solid #E8EAE9;
	background: rgba(249,250,250,1.00);
}

div#contents div.box div.question_form div.title {
	width: 820px;
	height: 20px;
	margin: 20px 0 5px 2px;
	color: #6C7C89;
	font-size: 16px;
	font-weight: bold;
}
div#contents div.box div.question_form input {
	padding: 5px;
	border-radius: 0px;
	-ms-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
div#contents div.box div.question_form input.title {
	width: 810px;
	height: 30px;
}
div#contents div.box div.question_form textarea.contents {
	width: 810px;
	height: 260px;
	padding: 5px;
	font-size: 14px;
	border-radius: 0px;
	-ms-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
div#contents div.box div.question_form input.file {
	width: 300px;
	height: 25px;
	border: rgba(127,157,186,1.00) 1px solid;
}
div#contents div.box div.question_form input.file_btn {
	width: 100px;
	height: 36px;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
div#contents div.box div.question_form select.select {
	width: 600px;
	height: 40px;
	padding: 0 10px;
	border: rgba(127,157,186,1.00) 1px solid;
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    text-indent: .01px; /*Firefox用*/
    text-overflow: ""; /*Firefox用*/
	background: url(../qas/img/select.png) no-repeat center right 5px;
}
div#contents div.box input.send {
	width: 148px;
	height: 50px;
	margin-left: 356px;
	margin-bottom: 100px;
	background-image: url(../qas/img/question2.png);
	background-repeat: no-repeat;
}


/*detal
---------------------------------------------------------------------------*/
div#contents div.box ul.qa_list li div.center div.title2 {
	width: 650px;
	color: #CE4057;
	font-size: 16px;
	font-weight: bold;
}
div#contents div.box ul.qa_list li.answer_form {
	font-size: 16px;
	font-weight: bold;
}
div#contents div.box ul.qa_list li div.name {
	width: 720px;
	height: 30px;
	margin-top: 10px;
	font-size: 16px;
	border-bottom: 1px solid #E8EAE9;
}
div#contents div.box ul.qa_list li div.name span.time {
	margin-left: 20px;
	color: #858A8C;
	font-size: 10px;
}









/*マイページ追記分
---------------------------------------------------------------------------*/

/*page02
----------------------------*/
div#contents div.box div.box_top img {
	margin: 17.5px 7px 17.5px 13px;
	float: left;
}
div#contents div.box div.box_top span.you_answer {
	line-height: 55px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	float: left;
}
div#contents div.box ul.qa_list li div.left p.answer_name {
	text-align: center;

}
div#contents div.box ul.qa_list li div.mypage_detail {
	width: 680px;
	margin-left: 120px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 22px;
}
div#contents div.box ul.qa_list li div.mypage_detail a {
	color: #2D76BA;
	display: block;
	margin: 10px 0;
	text-decoration: underline;
}
div#contents div.box ul.qa_list li div.mypage_image {
	width: 680px;
	margin-left: 120px;
	margin-bottom: 20px;
}
div#contents div.box ul.qa_list li div.mypage_image img {
	width: 180px;
	float: left;
	margin-right: 20px;
}
div#contents div.box ul.qa_list li.answer_view,
div#contents div.box ul.qa_list li.answer_response {
	width: 850px;
	min-height: 50px;
	line-height: 50px;
	padding-left: 10px;
	color: #6C7C89;
	background: rgba(249,250,250,1.00);
}
div#contents div.box ul.qa_list li.answer_view img {
	margin: 7px 0;
	float: left;
}
div#contents div.box ul.qa_list li.answer_view a {
	color: #2D76BA;
	text-decoration: underline;
	margin-left: 15px;
}
div#contents div.box ul.qa_list li div.center {
	width: 680px;
	padding: 15px 0;
}
div#contents div.box ul.qa_list li div.answer_detail {
	margin-top: 5px;
	line-height: 22px;
}
div#contents div.box ul.qa_list li div.answer_detail p a {
	color: #0059B1;
	display: block;
	margin-top: 10px;
	text-decoration: underline;
}
div#contents div.box ul.qa_list li.answer_response img {
	float: left;
	margin: 7px 0;
}
div#contents div.box ul.qa_list li.answer_response span {
	margin-left: 12px;
}
div#contents div.box ul.qa_list li textarea.text_answer {
	width: 810px;
	height: 250px;
	margin: 20px 20px 0 20px;
	padding: 5px;
	font-size: 14px;
	border: #E7E8E9 1px solid;
	border-radius: 0px;
	-ms-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
div#contents div.box ul.qa_list li div.text_under {
	width: 822px;
	height: 50px;
	margin: 0 20px 10px 20px;
	font-size: 14px;
	border-radius: 0px;
	-ms-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background: rgba(249,250,250,1.00);
}
div#contents div.box ul.qa_list li div.text_under img {
	margin: 6.5px 5px 8.5px 5px;
	float: left;
}
div#contents div.box ul.qa_list li div.text_under img:hover {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
div#contents div.box ul.qa_list li div.text_under span.under_center {
	height: 50px;
	line-height: 50px;
	float: left;
	margin-right: 5px;
}
div#contents div.box ul.qa_list li div.answer_under {
	width: 820px;
	margin: 0 20px;
}
div#contents div.box ul.qa_list li div.answer_under a.answer_btn {
	display: block;
	width: 148px;
	height: 50px;
	margin: 30px 0 30px 10px;
	float: right;
}
div#contents div.box2 {
	padding-bottom: 20px;
}


/*page01
----------------------------*/
div#contents div.box3 {
	margin: 0px 15px 10px 15px;
	padding-bottom: 180px;
}
div#contents div.box3 div.box_top2 {
	background: #F9FBFA;
	color: #D14C65;
	line-height: 55px;
	font-size: 22px;
	border-bottom: none;
}
div#contents div.box3 ul.member_list {
	width: 820px;
	margin: 0 20px;
	float: left;
}
div#contents div.box3 ul.member_list li.top {
	height: 26px;
	width: 820px;
	background: #37415C;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 11px;
	float: left;
}
div#contents div.box3 ul.member_list li.check {
	min-height: 45px;
	width: 820px;
	font-size: 12px;
	border-bottom: 1px solid #C2C3C5;
	float: left;
}
div#contents div.box3 ul.member_list li ul {
	float: left;
}
div#contents div.box3 ul.member_list li ul li {
	float: left;
}
div#contents div.box3 ul.member_list li.top ul li {
	line-height: 26px;
	color: #FFF;
}
div#contents div.box3 ul.member_list li.check:nth-of-type(2n+1) {
	background: #F1F2F4;
}
div#contents div.box3 ul.member_list li.check ul li {
	position: relative;
	min-height: 45px;
}
div#contents div.box3 ul.member_list li.check ul li p {
	position: absolute;
	top: 50%; 
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
div#contents div.box3 ul.member_list li.check ul li p.red {
	color: #DA2126;
	position: absolute;
	top: 50%; 
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
div#contents div.box3 ul.member_list li ul li.user_name {
	width: 80px;
	margin-left: 10px;
	text-decoration: underline;
}
div#contents div.box3 ul.member_list li ul li.day_in {
	width: 85px;
}
div#contents div.box3 ul.member_list li ul li.progress {
	width: 50px;
}
div#contents div.box3 ul.member_list li ul li.day_last {
	width: 90px;
}
div#contents div.box3 ul.member_list li ul li.day_qa {
	width: 60px;
}
div#contents div.box3 ul.member_list li ul li.period {
	width: 80px;
}
div#contents div.box3 ul.member_list li ul li.status {
	width: 85px;
}
div#contents div.box3 ul.member_list li ul li.check_money {
	width: 55px;
}
div#contents div.box3 ul.member_list li ul li.message {
	width: 195px;
	margin-right: 10px;
}

div#contents div.box3 ul.member_list li ul li.check_money img {
	position: relative;
	left: -10px;
}