
/*sidenav
---------------------------------------------------------------------------*/
div#wrap div#sidenav {
	width: 90px;
	padding-bottom:504px;
	float: left;
	background: url(../pages/img/bar.png) no-repeat;
}
div#wrap div#sidenav div#logo {
	z-index: 2;
}
div#wrap div#sidenav div#logo a:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
div#wrap div#sidenav ul.icon li {
	margin: 8px 0;
	width: 90px;
	height: 56px;
	z-index: 2;
	float: left;
}

div#wrap div#sidenav ul.icon li:hover {
	margin-left: 17px;
	width: 56px;
	height: 56px;
	float: left;
	background: #4D5763;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
div#wrap div#sidenav ul.icon li a {
	width: 90px;
	height: 56px;
	display: block;
}
div#wrap div#sidenav ul.icon li a:hover {
	margin-left: -17px;
}
div#wrap div#sidenav ul.icon li a img:hover{
	-moz-transition:0.2s ease-out;
	-webkit-transition: 0.2s ease-out;
	-o-transition:0.2s ease-out;
	-ms-transition:0.2s ease-out;
	-webkit-transform: scale(0.8,0.8);
}
